@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Roboto:wght@400&display=swap");
$body-bg: $white;
$body-color: $gray;

$base-font-family: "Montserrat", sans-serif;
$paragraph-line-height: 3rem;
$font-size-base: 1.6rem;
