/*
/=====================================/
/        Lon with Style ;-)           /
/=====================================/
*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Roboto:wght@400&display=swap");
h1,
h2,
h3 {
  font-weight: bold;
  margin-bottom: 2rem;
}

p {
  line-height: 3rem;
}

p:not(:last-child) {
  margin-bottom: 3rem;
}

a {
  color: #ffffff;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #444444;
  background: #ffffff;
  font-size: 1.6rem;
  box-sizing: border-box;
}

.container {
  max-width: 122.25rem;
  margin: 0 auto;
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: 700;
}

.table {
  color: inherit;
}

.table td, .table th {
  padding: 1.5rem 2rem;
}

section {
  padding: 5rem;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7.2rem;
  padding: 0 2.5rem;
}

.logo {
  font-size: 3.2rem;
  font-weight: 700;
}

.menu-toggle {
  color: #ffffff;
  font-size: 2.2rem;
  position: absolute;
  right: 2.5rem;
  cursor: pointer;
}

.nav-list {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 100vh;
  background: #404040;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding: 8em 4.4em;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  text-transform: uppercase;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.cv {
  border-radius: 50%;
  border: solid 2px #ffffff;
  height: 100%;
  width: auto;
  padding: 1rem;
}

.fa-times {
  display: none;
}

.open .nav-list {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

@media screen and (min-width: 900px) {
  .nav-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .menu-toggle {
    display: none;
  }
  .nav {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-list {
    position: initial;
    width: initial;
    height: initial;
    background-color: transparent;
    -webkit-box-pack: initial;
    -webkit-justify-content: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    -webkit-transform: initial;
        -ms-transform: initial;
            transform: initial;
    -webkit-transition: initial;
    transition: initial;
    padding: 0;
  }
  .nav-item {
    margin: 0 2.4rem;
  }
  .nav-item:last-child {
    margin-right: 0;
  }
}

.hero {
  width: 100%;
  height: 100vh;
  background: url("../../../assets/img/hero-bg.png") center no-repeat;
  background-size: cover;
  color: #ffffff;
  font-size: 5rem;
  font-family: Roboto, "Sans-serif";
}

.hero div {
  margin-bottom: 1rem;
}

.headline-medium {
  font-size: 5rem;
  line-height: 1;
}

.headline-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.headline-large {
  font-size: 12rem;
  line-height: 0.7;
  text-indent: -6px;
}

.headline-small {
  font-size: 2.6rem;
  line-height: 1.2;
  margin-top: auto;
}

.headline-small span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.apost {
  font-family: "Cinzel", serif;
}

.cta {
  font-size: 2.5rem;
  font-weight: 300;
  border: solid 2px #ffffff;
  padding: 1.2rem;
  width: 100%;
  text-align: center;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 90vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.row .partition-50 {
  width: 100%;
}

.row div:firstchild() {
  display: none;
}

@media screen and (min-width: 900px) {
  .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .row .partition-50 {
    width: 50%;
    padding: 5rem;
  }
  .cta {
    width: 50%;
  }
}
